
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form action="/Usuario/Create" method="post">
<label>nombres</label>
<input name="nombres" type="text" />
<br />
<label>Direccion: </label>
<input name="direccion" type="text" />
<br />
<label>Telefono: </label>
<input name="telefono" type="text" />
<br />
<label>Correo: </label>
<input name="correo" type="text" />
<br />
<label>Usuario: </label>
<input name="username" type="text" />
<br />
<label>Password: </label>
<input name="passwd" type="password" />
<br />
<button type="submit">Guardar</button>
</form>