
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<a href="/Usuario/Create">Registrarse</a>
<form action="/Usuario/Login" method="post">
    <br />
    <label>Usuario</label>
    <input name="username" type="text" />
    <br />
    <label>Password</label>
    <input name="passwd" type="password" />
    <br />
    <br />
    <button type="submit">Go</button>
</form>


